@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colour palette */
:root {
  --background: #1E1E28;
  --white: #ededed;
  --grayLight: #BAC1B8;
  --green: #40F99B;
  --violet: #98A6D4;
  --yellow: #FFC008;
}

*{
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
